.entry-content p.alignleft { text-align:left; }
.entry-content p.aligncenter { text-align:center; }
.entry-content p.alignright { text-align:right; }
.entry-content p.alignjustify { text-align:justify; }
